<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mercado Liebre</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/utils.css" />
  <link rel="stylesheet" href="/css/theme.css" />
  <link rel="stylesheet" href="/css/styles-mobile.css" />
  <link rel="stylesheet" href="/css/styles-tablet.css" />
  <link rel="stylesheet" href="/css/styles-laptop.css" />
</head>

<body class="bg-light-grey">
  <header class="bg-yellow p-8">
    <div class="relative center df fw jcs">
      <h1 class="img-ml">
        <img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" />
      </h1>
      <div class="buscar border-n df jc bg-white">
        <input class="input-search" type="text" name="buscar" placeholder="Buscar productos, marcas y mas..." />
        <button class="icon-search bg-white"><i class="fa fa-search"></i></button>
      </div>
      <p class="text-center jc">
        <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de
        credito
      </p>
    </div>
    <nav class="nav-bar mt-8">
      <ul class="nav-section mb-8 ul-1">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      <ul class="nav-section mb-8 ul-2">
        <li>
          <a href="/register">Crea tu cuenta</a><i class="fas fa-address-card m-10"></i>
        </li>
        <li>
          <a href="/login">Ingresar</a><i class="fas fa-sign-in-alt m-10"></i>
        </li>
        <li>
          <a href="#">Mis compras</a><i class="fas fa-shopping-basket m-10"></i>
        </li>
      </ul>
    </nav>
    <div class="burger">
      <div class="burger-menu font-heading">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </header>
  <img src="/images/img-home-banner.jpg" alt="Promoción fiestas" width="100%" />
  <main class="p-8 w-90 m-center">
    <section class="relative df fw jc-2">
      <h2 class="font-heading mb-8 w-100">Basado en tu última visita</h2>
      <article class="product mb-8 bg-white product-w25 p-8">
        <img class="p-8"width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" />
        <div class="relative b-2 p-8">
          <i class="truck-icon fas fa-truck font-green rotacion"></i>
          <div class="df">
          <p class="font-large precio w-30">$6.770</p>
          <p class="font-medium font-green descuento w-70">40% OFF</p>
          </div>
          <h3 class="product-title font-medium">Cafetera Moulinex</h3>
      </article>
      </div>
      <article class="product mb-8 bg-white product-w25 p-8">
        <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019" />
        <div class="relative b-2 p-8">
          <i class="truck-icon fas fa-truck font-green rotacion"></i>
          <div class="df">
          <p class="font-large precio w-30">$230.000</p>
          <p class="font-medium font-green descuento w-70">20% off</p>
          </div>
          <h3 class="product-title font-medium">MacBook Pro 2019</h3>
        </div>
      </article>
      <article class="product mb-8 bg-white product-w25 p-8">
        <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" />
        <div class="relative b-2 p-8">
          <i class="truck-icon fas fa-truck font-green rotacion"></i>
          <div class="df">
          <p class="font-large precio w-30">$70.500</p>
          <p class="font-medium font-green descuento w-70">10% off</p>
          </div>
          <h3 class="product-title font-medium">Samsung Galaxy S10</h3>
        </div>
      </article>
      <article class="product mb-8 bg-white product-w25 p-8">
        <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="Samsung Galaxy S10" />
        <div class="relative b-2 ">
          <i class="truck-icon fas fa-truck font-green rotacion"></i>
          <div class="df p-8">
          <p class="font-large precio w-30">$23.200</p>
          <p class="font-medium font-green descuento w-70">5% off</p>
          </div>
          <h3 class="product-title font-medium">SmartTv Samsung 43"</h3>
        </div>
      </article>
    </section>
    <section class="relative df fw jc-2">
      <h2 class="font-heading mb-8 w-100">Ofertas</h2>
      <article class="product mb-8 bg-white product-w25 p-8">
        <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" />
        <div class="relative b-2 p-8">
          <i class="truck-icon fas fa-truck font-green rotacion"></i>
          <div class="df">
          <p class="font-large precio w-30">$6.770</p>
          <p class="font-medium font-green descuento w-70">40% OFF</p>
          </div>
          <h3 class="product-title font-medium" >Cafetera Moulinex</h3>
        </div>
      </article>
      <article class="product mb-8 bg-white product-w25 p-8">
        <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019" />
        <div class="relative b-2 p-8">
          <i class="truck-icon fas fa-truck font-green rotacion"></i>
          <div class="df">
          <p class="font-large precio w-30">$230.000</p>
          <p class="font-medium font-green descuento w-70">20% off</p>
          </div>
          <h3 class="product-title font-medium">MacBook Pro 2019</h3>
        </div>
      </article>
      <article class="product mb-8 bg-white product-w25 p-8">
        <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" />
        <div class="relative b-2 p-8">
          <i class="truck-icon fas fa-truck font-green rotacion"></i>
          <div class="df">
          <p class="font-large precio w-30">$70.500</p>
          <p class="font-medium font-green descuento">10% off</p>
          </div>
          <h3 class="product-title font-medium">Samsung Galaxy S10</h3>
        </div>
      </article>
      <article class="product mb-8 bg-white  product-w25 p-8">
        <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="Samsung Galaxy S10" />
        <div class="relative b-2 p-8">
          <i class="truck-icon fas fa-truck font-green "></i>
          <div class="df">
          <p class="font-large precio w-30">$23.200</p>
          <p class="font-medium font-green descuento">5% off</p>
          </div>
          <h3 class="product-title font-medium">SmartTv Samsung 43"</h3>
        </div>
      </article>
    </section>
  </main>

  <footer class="footer">
    <section class="df-laptop">
      <article>
        <div class="font-light-blue icon-footer m-9">
          <i class="fas fa-credit-card"></i>
        </div>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </article>
      <article>
        <div class="font-light-blue icon-footer m-9">
          <i class="fas fa-gift"></i>
        </div>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </article>
      <article>
        <div class="font-light-blue icon-footer m-9">
          <i class="fas fa-user-shield"></i>
        </div>
        <h3>Seguridad, de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
          puedas hacer, porque estás siempre protegid@.
        </p>
      </article>
    </article>
  </section>
  <div class="footer">
  <p class="copyright m-11 footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
  </div>
    <article>
  </footer>
</body>

</html>